spring:
  application:
    name: mopl-batch
  profiles:
    default: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  jackson:
    time-zone: UTC

tmdb:
  access-token: ${TMDB_ACCESS_TOKEN:your-access-token-here}
  language: ${TMDB_LANGUAGE:ko-KR}

batch:
  schedule:
    movie-collect-cron: ${BATCH_MOVIE_COLLECT_CRON:0 0 4 * * *}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}
