spring:
  application:
    name: mopl-batch
  profiles:
    default: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  jackson:
    time-zone: UTC
  kafka:
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: io.mopl.core.event.*

tmdb:
  access-token: ${TMDB_ACCESS_TOKEN:your-access-token-here}
  language: ${TMDB_LANGUAGE:ko-KR}

batch:
  schedule:
    movie-collect-cron: ${BATCH_MOVIE_COLLECT_CRON:0 0 4 * * *}
    tv-series-collect-cron: ${BATCH_TV_SERIES_COLLECT_CRON:0 0 3 * * *}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}
