spring:
  application:
    name: mopl-api
  profiles:
    default: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  kafka:
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: io.mopl
  jackson:
    time-zone: UTC

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}

mopl:
  init:
    admin:
      email: ${MOPL_ADMIN_EMAIL:admin@mopl.io}
      password: ${MOPL_ADMIN_PASSWORD:1234}
      name: ${MOPL_ADMIN_NAME:admin}
    test-user-password: ${MOPL_TEST_USER_PASSWORD:1234}